@charset "UTF-8";

body { padding-top: 70px; }

#api-list .panel-title {
  font-size: 14px;
}

#api-list  .panel-group .panel+.panel {
  margin-top: 2px;
}

#api-list .list-group {
  margin: 0;
}

#api-list .list-group-item:first-child {

  border-radius: 0;
}

#api-list .list-group-item {
  padding: 5px 15px;
}

#api-list .accordion-inner {
  padding: 0;
}

#api-list .glyphicon-chevron-right {
  float: right;
  margin-right: -6px;
  opacity: .25;
}

#api-list .panel-heading a {
  color: #666666;
  display: block;
  text-decoration: none;
}

#api-list .list-group a {
  color: #666666;
  display: block;
  text-decoration: none;
}

#api-list .list-group a.active {
  color: #ffffff;
}